{
    auto_https disable_redirects
    default_sni 62.171.128.245
}
https://62.171.128.245 {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            profile shortlived
            disable_http_challenge
        }
    }
    reverse_proxy hyperfeeds-web-portal:80
}
